p 
  = 
  | #{I18n.t('user.reset_password.first')} #{@resource.email}!
p = I18n.t('user.reset_password.second')
p = link_to I18n.t('user.reset_password.third'), edit_password_url(@resource, reset_password_token: @token)
p = I18n.t('user.reset_password.forth')
p = I18n.t('user.reset_password.fifth')
